.black {
float: right;
background-color: black;
height: 15px; 
width: 15px;
margin: 2px;
}
.container {
position: relative;
float: left;
min-height: 305px;
min-width: 305px;
background-color: pink;
}
.red {
background-color: red;
}
