.grey {
float: right;
background-color: grey;
height: 5px;
width: 5px;
margin: 0px;
padding: 0px;
}
.container {
position: relative;
height: 500px;
width: 500px;
margin: 0px auto;
border: 35px solid red;
border-bottom: 80px solid red;
border-radius: 25px;
}
.black {
background-color: black;
}
